/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;

    background:#111;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    font-family:Arial, sans-serif;

    overflow:hidden;
}

h1{
    color:white;
    margin-bottom:50px;
}

.coverflow{
    position:relative;

    width:1000px;
    height:450px;

    perspective:1200px;
}

.card{
    position:absolute;

    width:260px;
    height:360px;

    left:50%;
    top:50%;

    border-radius:20px;

    overflow:hidden;

    transition:.8s ease;

    transform-style:preserve-3d;

    box-shadow:
    0 15px 30px rgba(0,0,0,.4);
}

.card img{
    width:100%;
    height:100%;

    object-fit:cover;
}