/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body{
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background: linear-gradient(
        135deg,
        #0a5c36,
        #1f8b4c
    );

    font-family: Arial, sans-serif;
}

/* Heading */
h1{
    color: white;
    margin-bottom: 50px;
}

/* Gallery */
.circle-gallery{
    position: relative;

    width: 500px;
    height: 500px;
}

/* Players */
.player{
    position: absolute;

    width: 120px;
    height: 120px;

    border-radius: 50%;

    overflow: hidden;

    border: 4px solid white;

    transition: .4s ease;

    cursor: pointer;
}

/* Images */
.player img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/* Hover */
.player:hover{
    transform: scale(1.15);

    z-index: 10;
}

/* Center Ball */
.center-ball{
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 70px;
}

/* Player Positions */

.player1{
    top: 0;
    left: 190px;
}

.player2{
    top: 90px;
    right: 0;
}

.player3{
    bottom: 90px;
    right: 0;
}

.player4{
    bottom: 0;
    left: 190px;
}

.player5{
    bottom: 90px;
    left: 0;
}

.player6{
    top: 90px;
    left: 0;
}