/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body{
    background: #141414;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    padding: 40px;
}

/* Heading */
h1{
    color: white;
    margin-bottom: 30px;
}

/* Gallery */
.gallery{
    display: flex;

    gap: 15px;

    overflow-x: auto;

    padding: 20px 0;

    scrollbar-width: none;
}

/* Hide scrollbar (Chrome) */
.gallery::-webkit-scrollbar{
    display: none;
}

/* Card */
.card{
    min-width: 250px;

    height: 350px;

    border-radius: 12px;

    overflow: hidden;

    cursor: pointer;

    transition: 0.5s ease;
}

/* Image */
.card img{
    width: 100%;

    height: 100%;

    object-fit: cover;

    display: block;
}

/* Hover Effect */
.card:hover{
    transform: scale(1.15);

    z-index: 10;
}